@model student0.Models.student1

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>student1</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nameuse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nameuse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brith)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brith)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datetime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
